$border: 1px solid #e5e5e5;
$cellPading: 7.5px 15px;

.jtable-view {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: $border;

    .jtable-loader {
        &.hide {
            display: none;
        }

        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;

        svg path,
        svg rect {
            fill: #ff6700;
        }

        .loader {
            font-family: "roboto";
            border-radius: 5px;
            padding: 5px 10px;
            height: max-content;
            background-color: white;
            width: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
        }
    }

    .jtable-header {
        user-select: none;
        width: 100%;
        overflow-x: hidden;
        overflow-y:visible;


        .jtable-header-row {
            background-color: #ccc;
            border-bottom: $border;
            display: inline-flex;
            min-width: 100%;

            .jtable-header-item {
                padding: $cellPading;
                font-weight: bold;
                white-space: nowrap;
            }

            .jtable-header-item:not(:last-child) {
                border-right: $border;
            }
        }
    }

    .jtable-body {
        width: 100%;
        overflow: auto;
        flex: 1;

        .jtable-body-row {
            min-width: 100%;
            border-bottom: $border;
            display: inline-flex;


            .jtable-body-cell {
                padding: $cellPading;
                white-space: nowrap;
                display: flex;
                align-items: center;
            }

            .jtable-body-cell:not(:last-child) {
                border-right: $border;
            }

            &:hover {
                background-color: #ccc;
                cursor: default;
            }

            &.row-selected {
                background-color: #ccc;
            }
        }

        .jtable-body-row-empty {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    }

    .jtable-footer {
        border-top: $border;
        padding: 5px;

        .jtable-footer-paging-info {
            width: fit-content;
            float: right;
            text-align: right;
            margin-right: 10px;
        }

        .jtable-footer-paging-button {
            display: flex;
            align-items: center;
            float: left;

            button {
                background-color: darkgray;
                border: 1px solid green;
                color: white;
                padding: 0px 10px;
                cursor: pointer;
                float: left;

                &:not(:last-child) {
                    border-right: none;
                }

                &:hover {
                    background-color: #3e8e41;
                }

                &.btn-next {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

                &.btn-prev {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
            }

            .total-page {
                //   padding-top: 5px;
                margin-left: 10px;
            }

            &:after {
                content: "";
                clear: both;
                display: table;
            }
        }

        @media screen and (max-width: 600px) {
            .jtable-footer-paging-button,
            .jtable-footer-paging-info {
                width: 100%;
                display: flex;
                justify-content: center;
                float: left;
            }
        }
    }
}

.text-center {
    text-align: center;
}
